# .NET
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

.vscode/
.idea/
*.userprefs
*.suo

# User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

# .NET Core
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.json
*.xml

# macOS
.DS_Store

# Ignore Visual Studio files and directories
.vs/
*.vsix
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore file patterns causing warnings or errors
.vs/ArtHub/FileContentIndex/*.vsidx

#ignore the environment variable files
*.env